<?xml version="1.0"?>

<robot name="husky" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!-- IMU Properties -->
  <xacro:property name="imu_enclosure_x_size" value="0.028" />
  <xacro:property name="imu_enclosure_y_size" value="0.028" />
  <xacro:property name="imu_enclosure_z_size" value="0.009" />

  
  <link name="os_sensor"/>
  <joint name="os_sensor_joint" type="fixed">
    <origin xyz="$(optenv HUSKY_LIDAR_XYZ -0.055  0 0.585)" rpy="$(optenv HUSKY_LIDAR_RPY 0 0 0)" />
    <parent link="top_plate_link" />
    <child link="os_sensor" />
  </joint>
  <gazebo reference="os_sensor">
  </gazebo>
  
  <!-- <link name="gps_link"/>
  <joint name="gps_joint" type="fixed">
    <origin xyz="$(optenv HUSKY_GPS_XYZ 0.35 0 0.245)" rpy="$(optenv HUSKY_GPS_RPY 0 0 0)" />
    <parent link="base_link" />
    <child link="gps_link" />
  </joint>
  <gazebo reference="gps_link">
  </gazebo> -->
  
</robot>
